<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hermes.mapper.MailSendFilterMapper">
    <select id="selectMailSendFilterByTemplateType" resultType="com.hermes.entity.MailSendFilter">
        select * from mail_send_filter
        where template_type = #{templateType}
    </select>


</mapper>